{% extends 'main.html' %}
{% block contient %}

    {% load static %} 
    <div id="content_container">
        <h2> Conversion project to python developer profession</h2>
       <p>August 2021-November 2021</p>
       <h4>Orientation and Professional Retraining Center</h4>
        <ul>
            <li>Develop, implement, improve the Python code of a project </li>
            <li>Use Frameworks such as Django, Flask, Scikit-learn, pytorch, tensorflow</li>
            <li>Perform unit, functional and technical tests</li>
          
          </ul>
          <h2> Mechanical and agro-industrial engineer diploma</h2>
       <p>2013-2016</p>
       <h4>Higher School of Engineers of Medjez El Bab</h4>
        <ul>
            <li>Master the scientific and technological approaches of mechanical engineering </li>
            <li>Master continuous improvement and quality tools</li>
            <li>Mastering the design, production and conservation process</li>
          
          </ul>
          <h2> Preparatory cycle</h2>
       <p>2013-2016</p>
       <h4>Preparatory Institute for Engineering Studies of Monastir </h4>
        <ul>
            <li>Acquire the basics of science and mathematics </li>
            <li>Improve the ability to solve problems </li>
          
          </ul>
          <h2>Baccalaureate diploma in science and technology section</h2>
          <p>2013</p>
          <h4>korba high school</h4>
           <ul>
               <li>Acquire the basics of mechanical and electrical design</li>

             </ul>
    </div>

    {% endblock contient %}


